.form-merchant-verify{
  .section-heading {
    font-size:1.2rem;
    font-weight: bold;
    padding:.2rem 2rem;
    margin-bottom:1rem;
  }
  .form-group{
    margin-bottom:1rem;
    .form-label{
      width: 12rem;
      padding-left:2.2rem ;
    }
    .error{
      margin-top:.2rem;
    }
  }
  .tip{
    font-size:.6rem;
    margin-bottom: 0;
  }
  .city-picker{
    display: flex;
    flex-direction: row;
    select{
      flex: 1;
    }
  }
}