.prod-card{

  .title{
    font-size:1.2rem;
    padding:.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .sub-title{
    line-height: 1.25rem;
    overflow: hidden;
    margin-top:.8rem;
    height:2.5rem;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

}