@import "../themes/all";

.data-markets {
  .grid-block.market-list {
    padding: 0 !important;
  }

  .service-selector {
    margin: 0 !important;
  }
  .search-area {
    padding: 1rem 1rem;
    background: #eee;
    .input-group {
      display: flex;
      align-items: center;
      background: #fff;
      border-radius: 18px;
      padding: 0 .5rem;
      label {
        margin-bottom: 0;
        white-space: nowrap;
        margin-right: 10px;
      }
      input[type=text] {
        margin: 0;
        background: none;
      }
    }
  }
}

.dash-row {
  padding: 15px 0;
  border-bottom: 1px dashed #757575;
  strong {
    margin-right: 10px;
  }
}

.table-header {
  margin-top: 15px;
  font-size: 18px;
}

.market-tab {
  margin-bottom: 0;
  li {
    a {
      font-size: 1.1rem;
      font-weight: bold;
    }
  }
}

.market-category {
  padding: 1rem 0 0 0 !important;
  min-width: 250px;
  .block-list {
    width: 100%;
    text-align: center;
    li {
      a {
        padding: .8rem 0;
      }
    }
  }
}

.prod-info {

  .heading {
    margin-bottom: 15px;
  }
  overflow: visible;
  @include breakpoint(medium) {
    .other {
      padding-left: 15px;
    }
  }

  .version {
    color: $secondary-text-color;
    font-size: .9rem;
    a {
      color: $link-text-color;
      background: transparent;
    }
  }

  .versions {
    .current {
      background: $panel-bg-color;
    }
  }

  p {
    label {
      margin: 0;
    }
    font-size: .9rem;
    align-items: center;
    margin-bottom: .2rem;
  }
  .price {
    font-size: 1.5rem;
    color: $warning-color;
    border-left: 1px solid $row-accent-color;
    padding: 10px 0 10px 15px;
    text-transform: lowercase;
    font-variant: small-caps;
  }

  .tab-intro {
    .service-selector {
      ul.button-group {
        a {
          font-size: .9rem;
        }
      }
    }
    padding-bottom: 2rem;
  }

  .datasource-card {
    margin-right: 20px;
    margin-bottom: 20px;
    label {
      font-size: 20px;
      margin-top: 10px;
    }
  }

  .prod-list {
    min-width: 200px;
    margin-right: 15px;
    .block-list {
      width: 100%;
      li.active {
        //border-right: 2px solid #3885df;
      }
    }
  }
}

.free-prod-card,.league-prod-card {
  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .image {
      padding:.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img{
        width:100px;
        height:auto;
      }
    }
    .info {
      flex: 2;
      overflow: hidden;
      padding:.8rem;
      .title{
        font-size:1.3rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .desc {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .price{
        font-size:.9rem;
        >span >span,.lg{
          font-size:1.3rem;
        }
        .currency{
          font-size:1.0rem;
        }
      }
    }
  }
}


