@import "../themes/all";
.form-data-source-verify{
  .section-heading {
    font-size:1.2rem;
    font-weight: bold;
    padding:.2rem 2rem;
    color:$primary-text-color;
    background-color: darken($light-panel-bg-color,10%);
    margin-bottom:1rem;
  }
  .form-group{
    margin-bottom:1rem;
    .form-label{
      width: 12rem;
      padding-left:2.2rem ;
    }
    .error{
      margin-top:.2rem;
    }
  }
}