.container-deposit-withdraw {
  table{
    tr{
      padding:10px 10px;
      line-height: 1.6;
    }
    label{
      margin-bottom:0;
      text-transform: inherit;
    }
  }
  .note{
    margin-top:2rem;
    text-indent:5px;
  }
}