.container-loyalty-program{
  .large{
    font-size:1.2rem;
  }
  .service-selector{
    margin-bottom: 0 !important;
    text-align: right;
  }
  .input-amount{
    display: inline-block;
    width: 10rem;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0 !important;
  }
  .key-value-table{
    tr td{
      padding:.5rem;
    }
  }
  .has-error{
    margin-top:.3rem;
  }
}

.color-red{
  color:$negative-color;
}