
.table {
  width: 100%;
}

.table > thead > tr > th {
  padding: 12px 5px;
  //padding-right: 8px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.9rem;
  color: #e5e5e5;
  text-align: left;
}

.table > tbody > tr > td {
  // border-bottom: 1px solid #ddd;
  padding: 5px;
}

.table > tbody > tr:last-of-type > td {
  border-bottom: none;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  cursor: pointer;
}

.key-value-table {
  tr > td:first-child {
    padding-left: 0 !important;
  }
  tr > td:last-child {
    text-align: right;
  }
}

.table.compact {
  td, th {
    font-size: 94%;
  }
}

.table-bordered {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding:10px 10px;
      }
    }
  }
}

