.active-witness {
    > td {
        background-color: rgba(80, 210, 194, 0.4);
        transition: background-color 0.6s ease;
    }
}

.clickable {
    cursor: pointer;
    user-select: none;
}

.view-switcher {
    margin:1rem 0;
    text-align: right;
}

.witness-info-panel{
    width:350px;
    .table{
        td{
            white-space: nowrap !important;
            padding:.5rem 0;
        }
    }
    .filter{
        label{
            float:left;
        }
        input{
            display: inline-block;
            float:right;
        }
        margin-top:2rem;
    }
}
